/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #15192a;
    color: #f7fff7;
    height: 100%;
}
a{
    color: white;
    font-weight: bolder;
}

a:hover{
    color: white;
    font-weight: bolder;
    color: lightgray;
}

.shadow{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 5px 6px rgba(0, 0, 0, 0.3);
}

.section-container{
    padding: 30px;
}

.card-theme{
    background-color: #1f263c;
    border: none;
    border-radius: 2px;

}

.card-heading-theme{
    color: #eee;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 12px;
}

.card-body.theme{
    background-color: #1f263c;

}

.cards{
    display: flex;
    flex-direction: column;
}

.section-container{
    padding: 30px;
}


/*_________________Slider Styling___________________*/

.custom-slider .ngx-slider .ngx-slider-bar {
    background: #ffe4d1;
    height: 2px;
  }
  .custom-slider .ngx-slider .ngx-slider-selection {
    background: white;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
    color: white;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    font-weight: bold;
    color: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: white;
  }